/* Header */
.admin-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 20px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  margin-right: 300px;
}

.nav-links {
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-links button {
  all: unset;
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
  transition: color 0.2s ease;
}

.nav-links .logout-btn {
  all: unset; 
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.logout-btn:hover {
  background-color: #0056b3; 
  box-shadow: 0 4px 12px rgba(0, 123, 255, 0.3);
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
}

/* Responsive Styles Of Header */
@media (max-width: 1024px) {
  .logo {
    margin-left: 50px;
  }

  .nav-links {
    position: absolute;
    top: 65px;
    right: 0;
    background-color: #1e293b;
    flex-direction: column;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }

  .nav-links.open {
    max-height: 600px;
    padding: 20px 0;
  }

  .nav-links a,
  .logout-btn {
    padding: 10px 20px;
    width: 100%;
    text-align: center;
  }

  .hamburger {
    display: flex;
  }
}

/* Dashboard */
.welcome-title {
    color: whitesmoke;
}